body {
  background-color: #0e0d16 !important;
  overflow: hidden; 
    font-family: var(--bs-font-sans-serif) !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
}
.pad {
  padding: 0px 80px !important;
  height: 80px ;
}
.nav-link {
  color: white;
  cursor: pointer;
}

.one-liner {
  position: absolute;
  top: 12.5rem;
  font-size: 48px;
  color: white;
}
.content {
  position: relative !important;
  font-size: 18px !important;
  font-family: "Montserrat", sans-serif !important;
  color: white !important;
  top: 29.75rem !important;
}

.Peepeyes {
  position: absolute;
  top: 15%;;
  left: 60%;
  z-index: 0;
}

.hit-area {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.hitbox {
  width: 100px;
  height: 100px;
  float: left;
}

.eye {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 25%;
  top: 40%;
  background-color: white;
  pointer-events: none;
}

.eye + .eye {
  left: 55%;
}

.pupil {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  transition: all 0.5s ease;
}

.eyelid {
  width: 150px;
  height: 100px;
  background-color: black;
  position: absolute;
  left: 20%;
  top: 25%;
  pointer-events: none;
  animation-name: blink;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-delay: 1s;
  transition: all 0.5s ease;
}

.eyelid + .eyelid {
  left: 50%;
}

@keyframes blink {
  0% {
    top: 25%;
  }
  95% {
    top: 25%;
  }
  100% {
    top: 40%;
  }
}

.hitbox:hover ~ .eyelid {
  transform: rotate(-10deg);
}

.hitbox:hover ~ .eyelid:nth-of-type(2n + 1) {
  transform: rotate(10deg);
}

#c-3:hover ~ .eyelid {
  transform: rotate(15deg);
}

#c-3:hover ~ .eyelid:nth-of-type(2n + 1) {
  transform: rotate(-15deg);
}

#c-3:hover ~ .eye .pupil {
  background-color: red;
}

#a-1:hover ~ .eye > .pupil {
  transform: rotate(60deg) translate(-30px);
}

#a-2:hover ~ .eye > .pupil {
  transform: rotate(80deg) translate(-30px);
}

#a-3:hover ~ .eye > .pupil {
  transform: rotate(90deg) translate(-30px);
}

#a-4:hover ~ .eye > .pupil {
  transform: rotate(100deg) translate(-30px);
}

#a-5:hover ~ .eye > .pupil {
  transform: rotate(120deg) translate(-30px);
}

#b-1:hover ~ .eye > .pupil {
  transform: rotate(50deg) translate(-25px);
}

#b-2:hover ~ .eye > .pupil {
  transform: rotate(70deg) translate(-25px);
}

#b-3:hover ~ .eye > .pupil {
  transform: rotate(90deg) translate(-25px);
}

#b-4:hover ~ .eye > .pupil {
  transform: rotate(110deg) translate(-25px);
}

#b-5:hover ~ .eye > .pupil {
  transform: rotate(130deg) translate(-25px);
}

#c-1:hover ~ .eye > .pupil {
  transform: rotate(0deg) translate(-25px);
}

#c-2:hover ~ .eye > .pupil {
  transform: rotate(0deg) translate(-10px);
}

#c-3:hover ~ .eye > .pupil {
  transform: rotate(0deg) translate(20px);
}

#c-3:hover ~ .eye:nth-of-type(2n + 1) > .pupil {
  transform: rotate(0deg) translate(-20px);
}

#c-4:hover ~ .eye > .pupil {
  transform: rotate(0deg) translate(10px);
}

#c-5:hover ~ .eye > .pupil {
  transform: rotate(0deg) translate(25px);
}

#d-1:hover ~ .eye > .pupil {
  transform: rotate(-50deg) translate(-25px);
}

#d-2:hover ~ .eye > .pupil {
  transform: rotate(-70deg) translate(-25px);
}

#d-3:hover ~ .eye > .pupil {
  transform: rotate(-90deg) translate(-25px);
}

#d-4:hover ~ .eye > .pupil {
  transform: rotate(-110deg) translate(-25px);
}

#d-5:hover ~ .eye > .pupil {
  transform: rotate(-130deg) translate(-25px);
}

#e-1:hover ~ .eye > .pupil {
  transform: rotate(-40deg) translate(-30px);
}

#e-2:hover ~ .eye > .pupil {
  transform: rotate(-60deg) translate(-30px);
}

#e-3:hover ~ .eye > .pupil {
  transform: rotate(-80deg) translate(-30px);
}

#e-4:hover ~ .eye > .pupil {
  transform: rotate(-100deg) translate(-30px);
}

#e-5:hover ~ .eye > .pupil {
  transform: rotate(-120deg) translate(-30px);
}

.NormalFont{
  color: aliceblue;
  position: relative;
}
.leftInfo {
  position: relative;
  top: 10em;
  height: 150px;
  width: 245px;
  color: aliceblue;

}

.logoImg{
  height: 50px;
  width: 50px;
}

.col_b{
  position: relative;
  width: fit-content !important;
  height: fit-content;
  padding: 10px;
  top: 30px;
}

.mdl-color{ 
   background: linear-gradient(180deg, #530070, #090070);
   text-align: start;
}

#sign-out-button{
  visibility: hidden;;
  float: right!important;
  top: 55%!important;
}
#sign-in-button{
  left: 0%;
}
.mdl-card__supporting-text{
  align-self: center;
}

#qr_code{
  width: 200px;
  height: 200px;
}

#user-details-card{
  background: none !important;
  text-align: center;
}


@media (min-width: 1200px){
.mdl-grid {
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-flow: row wrap;
-ms-flex-flow: row wrap;
flex-flow: row wrap !important;
margin: 0 auto;
-webkit-align-items: stretch;
-ms-flex-align: stretch;
align-items: stretch;
flex-direction: row !important;
flex-wrap: nowrap !important;
}
}
.mdl-grid {

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  flex-direction: column;
}

@media (max-width: 768px){
  
.one-liner{
  position: relative;
  top: 0;
  padding-left: 8px;
}
.content{
  position: relative;
  top: 0 !important;;
  padding-left: 8px;
}
.Peepeyes {
   position: relative !important;
   top: 0 !important;
   left: 0 !important;
}
}
@media (max-width: 768px){
  body{
  overflow-y:scroll !important;
  overflow-x:hidden !important; 
  }
  
.LeftDEt{
  text-align: center;
  text-align: -webkit-center;
  }

  .one-liner{
    position: relative;
    top: 0;
    padding-left: 8px;
    padding: 10% 10% 0% 10% ;
  }
  .content{
    position: relative;
    top: 0 !important;;
    padding-left: 8px;
    padding: 5% 10% 10% 10% ;
  }
  .Peepeyes {
     position: relative !important;
  }
  }

  @media (max-width: 600px){
body, #message {
    margin-top: 0;
    background: rgb(0, 0, 0);
    box-shadow: none;
}
  }
.LeftDEt{
text-align: center;
text-align: -webkit-center;
}
.inner-block{
  text-align: -webkit-center !important;
}
.interBlock{
 text-align:left;
 color:wheat;
 border-style: dashed;
 width: max-content;
 height: max-content;
 padding:4%;
}
#retbutton{
  background-color:wheat;
  padding-top:2px;
  visibility:hidden;
}
.hide {
  position:absolute;
  left:-9999px;
}
.bounce {
  outline: 0;
  background-color: red !important;
  border-color: red;
  animation-name: bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}
@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}
